.tick {
  width: 100vw;
  padding: 5rem 0rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
  &__h2{
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  &__h3{
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 400;
  }
  &__h4{
    font-size: 4rem;
    font-weight: 500;
    margin: 2rem 0;
  }
  &__b{
    font-size: 2rem;
    font-weight: 500;
    vertical-align: top;
  }
  &__p{
    font-size: 1.4rem;
    font-weight: 200;
  }
  &__art{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: $grey;
    line-height: 3rem;
  }
  &__butt{
    margin-top: 2rem;
  }
}

.item {
  transition: transform 0.3s;
  transform: translate3d(0, -0.1rem, 0);
  &:hover{
    transform: translate3d(0, -1rem, 0);
  }
}
.carousel {
  position: relative;
  width: 100vw;
  &__container {
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
    &::after {
      content: '';
      clear: both;
      display: table;
    }
  }
  &__item {
    float: left;
  }
  &__next, &__prev {
    position: absolute;
    width: 4rem;
    height: 4rem;
    background: transparent url(right.svg) center center no-repeat;
    background-size:  20px 20px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: 0;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
    
  }
  &__prev {
    background-image: url(left.svg);
    right: auto;
    left: 0;
    visibility: hidden;
    &:hover {
      transform: scale(1.2);
      visibility: visible;
    }
    &--hidden{
      opacity: 0;
    }
  }
  &__next {
      visibility: hidden;
    &:hover {
      transform: scale(1.2);
      visibility: visible;
    }
    &--hidden{
      opacity: 0;
    }
  }
  &__pagination {
    position: absolute;
    bottom: -3rem;
    left: 0;
    right: 0;
    text-align: center;
    display: block;
    &__button {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      display: inline-block;
      margin: 0 1.5rem;
      transition: transform 0.3s;
      cursor: pointer;
      &:hover {
        transform: scale(1.4);
      }
    }
  }
}
#carousel3{
  max-width: 80rem;

  display: flex;
  .carousel__pagination__button{
    background-color: $greyTranspa;
    &--active {
      background-color: $purple;
    }
  }
} 