$dark-grey: #282828;
$dark-greyTranspa: #353434;
$purple: #8121e0;
$grey: #444444;
$greyTranspa: #44444470;
$greyTranspa2: #44444410;
$greyTranspa3: #35343485;
$white: #FFF;
$whiteTranspa: rgba(255, 255, 255, 0.80);
$whiteTranspa2: rgba(255, 255, 255, 0.50);
$whiteTranspa3: rgba(255, 255, 255, 0.10);
$gold: rgb(246, 231, 13);